<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/loancalculator2/src/loancalculator2/loancalculator2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="loancalculator2.loancalculator2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="loancalculator2"/>
</launchConfiguration>
